.formDiv {
  border: 1px solid rgb(0, 0, 0);
  width: fit-content;
  margin: 40px auto;
  border-radius: 15px;
  overflow: hidden;
  min-width: 500px;
}

.flex-row {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 25px;
  font-size: 20px;
  font-weight: 500;
}

.top {
  padding: 20px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  background-color: rgb(83, 211, 83);
  color: white;
}

form {
  padding: 40px;
  background-color: #74e50d59;
}

.button {
  margin-top: 30px;
}

Input {
  padding: 5px;
  width: 200px;
}

button {
  padding: 5px;
}

span {
  position: absolute;
}

.valid {
  border: 2px solid rgb(8, 255, 42);
}

.invalid {
  border: 2px solid red;
}
