.display {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.item {
  width: 40%;
  border: 2px solid black;
  background-color: #ebebeb;
}

.top {
  padding: 20px;
  background-color: #48b3af;
}

.content {
  padding: 40px 0px;
}
table {
  font-size: 18px;
  padding: 40px 30px;
  margin: 50px auto;
  text-align: left;
  max-height: 500px;
  overflow: scroll;
  background-color: #ebebeb;
  border-radius: 40px;
}
th,
td {
  border: 1px solid black;
  padding: 15px 20px;
  width: 100px;
}

.toDoItem {
  width: 300px;
}
