.example-card {
  max-width: 400px;
  margin: 30px auto;
  .title {
    justify-content: center;
  }
  .inputBox {
    width: 75%;
    margin: 10px auto;
  }
  button {
    width: fit-content;
    cursor: pointer;
  }
}
